                    <form action="/favourites"
                      method="POST">
                      <button type="submit"
                      class="bg-cyan-300 rounded p-2 hover:bg-cyan-500">
                        Add to Favourites
                      </button>
                      <input type="hidden" name="id" value="<%= home._id %>">
                    </form>